@page "/"
@using ModelSaber.Main.Data;
@inject APIService _api

<div class="modal-header">
    <img class="float-none" src="Resources/icon-512.png" alt="ModelSaber" width="96" height="96" />
    <div class="float-right">
        <h1 style="padding-top: 1.5rem; padding-left: 1rem;">ModelSaber</h1>
    </div>
</div>

<div align="center">
    <button class="btn-primary btn-lg">Sabers</button>
    <button class="btn-primary btn-lg">Avatars</button>
    <button class="btn-primary btn-lg">Platforms</button>
    <button class="btn-primary btn-lg">Notes</button>
</div>

<div class="modal-footer-center-align">
    <div align="center">
        <p>Build time @_api.Date()</p>
        <p>Copyright &#64; ModelSaber</p>
    </div>
</div>
